.login__form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.container__form {
  width: 100%;
  max-width: 750px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
  border-radius: 8px;
  border: 2px solid #808080;
  background-color: #f0f0f0d0;
  box-shadow: 0 3px 8px #181818a2;
}

.container__form:hover {
  border-color: #111;
}

.container__form input,
.container__form button {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  border-radius: 4px;
}

.container__form input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  outline: 1px solid #181818;
}

.container__form button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  background-color: #ee665c;
  transition: background-color 0.5s;
  cursor: pointer;
}

.container__form button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: auto;
}

.login__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__header img {
  width: 100%;
  max-width: 300px;
}

.login__header h1 {
  text-align: center;
  line-height: 2rem;
  font-size: clamp(1rem, 1.5rem, 1.8rem);
  letter-spacing: 3px;
}

footer {
  width: 100%;
  padding: 20px;
  background: linear-gradient(to right, #fdfeff, #ddeffb);
}

footer p:first-child {
  margin-bottom: 10px;
}

footer p,
a {
  font-family: Arial, sans-serif;
  color: #8f8f8f;
}

footer a:hover {
  color: #181818;
}
