@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  font-family: "Press Start 2P", system-ui;
  transition: all 0.4s ease;
}

body {
  width: 100%;
  height: 100dvh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  html,
  body {
    font-size: 8px;
  }
}
